<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SampleDataBase" connectionString="Data Source=DataServer, 1433;Initial Catalog=SampleDatabase;User ID=SampleUser;Password=zaMkS@2;" providerName="System.Data.SqlClient"/>
    <add name="SampleDataViewer.Properties.Settings.SampleDatabaseConnectionString" connectionString="Data Source=DataServer;Initial Catalog=SampleDatabase;Persist Security Info=True;User ID=SampleUser;Password=zaMkS@2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
